.menu {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	overflow-y: scroll;
	height: 73vh;
}

.card {
	padding: 25px;
	margin: 10px;
	background: #ddd;
	border-radius: 10px;
	height: 75px;
	width: 150px;
}