#name {
	width: 30%;
	margin: 10px auto;
}

#stock {
	width:20%;
	margin: 10px auto;
}

#reorder {
	width: 30%;
	margin: 10px auto;
}

#index {
	margin: 10px auto;
}

#invenelem {
	padding: 5px 35px;
	margin: 0;
}

#element:nth-child(even) {
	background-color: #ededed;
}

#element {
	border-right: 1px solid #bbb;
	border-left: 1px solid #bbb;
}

#element:last-child {
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}