.App {
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
}
#Products {
  width: 65%;
}

#enterlist {
	width: 40%;
}

#bind {
	height: 312px;
	overflow-y: scroll;
}

table {
	border-spacing: 0px;
}
